<html>
	<head>
		<title>Help | Sample App</title>
	</head>

	<body>
		<h1>Sample App Help Page</h1>
		<p>Not much help for you right now.
		Check out <a href="http://www.google.com">Google Home Page</a>
		</p>
	</body>
</html>
